.git
.gitattributes
.gitignore
.dockerignore
.idea
README.md
CHANGELOG.md
docker-compose*.yml
Dockerfile
Makefile
vendor
vendor/*
var
var/*
.DS_Store
.vscode/
fixtures/
coverage/
coverage.xml
images/
node_modules/