# Application directory (dynamically created or user's app)
/app/

# IDE
/.idea/
/.vscode/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# Docker
.docker/

# OS
.DS_Store
Thumbs.db
